encryption = "age"

[git]
    autoCommit = true
    autoPush = true

[age]
    identity = "~/.config/chezmoi/age.agekey"
    recipient = "age1wywqa9earehjcfv7qjavlvafdesfz3mt86j0nfgn03xncascuawqp9xluu"
